/*mediaqueries*/

@media screen and (max-width: 1200px){
    .filaFlex{
		display: block;  /* quitamos flex */
		
	}


	.navegacionPrincipal{
		display: none;
		margin: 1em 0; 
	}

	

	 
	.navegacionPrincipal{
	   	   	margin: 0;
	   	   	text-align: left;
			padding-bottom: 20px;
   	   }

	 
	.fondo-header .flex{
		display: block;
	}	

	.logo{
		padding-top: 40px;
		margin-bottom: 30px;
	}

	.navegacionPrincipal li{
		border-right: none;
	}

	.navegacionPrincipal li {
		display: block; 
		padding: 0.5em 0;
		
	} 

 	   .navegacionPrincipal a{ 
	   		display: block; /*me interesa que los enlaces se comporten en bloque para
	   		que pueda hacer clic en todo el ancho del lugar que ocupan*/
			font-size: 18px;
 	   }

	   .navegacionPrincipal a:hover{
		color: blue;
	   }

		.navegacionPrincipal.visible{
			display: block;
			background-color: rgb(255, 0, 187);
			position: absolute;
    		width: 93%;
    		text-align: center;
			font-size: 28px;
			margin: 7px;
		}

		
 		
 	  .iconoMenu {
 	  	    display: block; /*hacemos aparecer el li con el boton del menú */
 		    position: absolute;
 		    right: 35px;
            top: 11px;
            width: 40px;

 	  }

      /* fotos */
      .foto-aulas{
        flex-basis: 25%;
      }
    
      .foto-practicas{
        flex-basis: 25%;
      }
    
      .foto-laboratorio{
        flex-basis: 25%;
      }
    
      .foto-metodo{
        flex-basis: 25%;
      }

      /* texto */

      .descripciones{
       /* margin: auto; */
	   margin-top: auto;
	   margin-bottom: auto;
	   margin-left: 0;
	   margin-right: 0;
	   flex-basis: 75%;
    
    }

	.padreFlex1{
		display: flex;
		justify-content: space-between;
	}
	.padreFlex2{
		display: flex;
		justify-content: space-between;
	}
	
	.padreFlex3{
		display: flex;
		justify-content: space-between;
	}
	
	.padreFlex4{
		display: flex;
		justify-content: space-between;
	}
    
   
}

/* pantallas pequeñas */

@media screen and (max-width: 850px){

	/* header */
	.flex2 {
		display: flex;
		justify-content: center;
		/* flex-wrap: wrap; */
	}

	.padreFlex1{
		display: block;
		justify-content: space-between;
	}
	.padreFlex2{
		display: flex;
		flex-wrap: wrap-reverse;
	}
	
	.padreFlex3{
		display: block;
		justify-content: space-between;
	}
	
	.padreFlex4{
		display: flex;
		flex-wrap: wrap-reverse;
	}
    .foto-practicas{
        flex-basis: 100%;
      }

	  .foto-laboratorio{
        flex-basis: 100%;
      }

	  .foto-metodo{
        flex-basis: 100%;
      }

	  .descripciones{
		
		flex-basis: 100%;
	 
	 }

	 form{
		
		border: none;
		
	  }
	
}